@{
    ViewBag.Title = "About";
}

@*<h3>@ViewBag.Message</h3>*@
<div class="card" style="padding:7px;margin-top:15px;">
    <h2>@ViewBag.Title</h2>
    <p>
        The ApartmentManagement website is a system designed to make it easier for home owners and renters to communicate with each other.
        It aims to make it easier to keep track of bills and rents.
    </p>
</div>
