@{
    ViewBag.Title = "Contact";
}

@*<h3>@ViewBag.Message</h3>*@
<div class="card" style="padding:7px;margin-top:15px;">
    <h2 class="card-title">
        @ViewBag.Title
    </h2>
    <address style="margin-top:5px;">
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:suayb.ozcelik@isik.edu.tr">suayb.ozcelik@isik.edu.tr</a><br />
        <strong>Marketing:</strong> <a href="mailto:talha.ozcelik@isikun.edu.tr">talha.ozcelik@isikun.edu.tr</a>
    </address>
</div>