@model IEnumerable<ApartmentManagement.Models.Complaint>
@{
    ViewBag.Title = "RenterComplaints";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Complaints</h2>
<div class="row">
    @{
        if (Model.Count() != 0)
        {
            foreach (var item in Model)
            {
        <div class="card h-100 alert-danger" style="margin-top:10px;margin-left:15px;">
            
                <div class="card-body">
                    <b>@item.apartment.Building.name</b><br />
                    <b>Apart. Number: @item.apartment.apartment_number</b>
                    <hr />
                    <h4 class="card-title">@item.title</h4>
                    <p class="card-text">@item.text</p>
                </div>
        </div>
            }
        }
        else
        {
            <div class="card h-100" style="margin-top:10px;margin-left:15px;">
                <div class="card-body">
                    <p class="card-text">You don't have any complaints.</p>
                    <h4 class="card-title">
                        <p>You can create a complaint on your Apartments page.</p>
                        <a href="/Apartments/MyApartments" class="btn btn-primary">My Aparments</a>
                    </h4>
                </div>
            </div>

        }
    }
</div>
